<h1>Daniel</h1>

<button (click)="addPhoneNumber()">Add</button>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="mike" [placeholder]="form.controls.mike.value" />
  <ng-container formArrayName="phoneNumbers">
    <div *ngFor="let phoneNumberGroup of phoneNumbers.controls; let i = index" [formGroupName]="i">
      <button (click)="deletePhoneNumber(i)">Delete this one</button>
      <input type="text" formControlName="number" placeholder="Enter 10 digit phone number" />
    </div>
  </ng-container>

  <button type="submit">Submit</button>
</form>