<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th>{{user.name}}</th>
      <th>{{user.email}}</th>
      <th>{{user.website}}</th>
    </tr>
  </tbody>
</table>


<form (submit)="submit()" [formGroup]="signupForm">
  <label for="name">Name</label>
  <br />
  <input type="text" id="name" formControlName="name" />
  <br /><br />
  <label for="email">Email</label>
  <br />
  <input type="text" id="email" formControlName="email" />
  <br /><br />
  <label for="website">website</label>
  <br />
  <input type="text" id="website" formControlName="website" />
  <br /><br />

  <button type="submit"> Submit </button>
</form>