<app-custom-sort></app-custom-sort>
<app-pipe-playground></app-pipe-playground>

<ng-container *ngIf="devMode">

  <app-viewchild-b-contentpro></app-viewchild-b-contentpro>
  <app-viewchild-a-focus></app-viewchild-a-focus>

  
  <app-ultimate-list></app-ultimate-list>
  <app-auto-nav></app-auto-nav>

<app-reactive-form-input-dropdown></app-reactive-form-input-dropdown>
<app-reactive-form-input-types></app-reactive-form-input-types>
<app-reactive-form-array></app-reactive-form-array>
<app-reactive-form-cross-validation></app-reactive-form-cross-validation>

<app-ultimate-form></app-ultimate-form>
<app-auth-list></app-auth-list>
<app-counter></app-counter>
<app-recursive-nav></app-recursive-nav>

<app-regist-form></app-regist-form>
<app-category></app-category>
<app-title-author></app-title-author>
<app-card></app-card>
</ng-container>