<input type="password" [formControl]="password" />

<div *ngIf="password.hasError('badPassword')">
  <p *ngIf="!password.getError('badPassword').hasUpperCase">Password must have at least one uppercase character.</p>
  <p *ngIf="!password.getError('badPassword').hasLowerCase">Password must have at least one lowercase character.</p>
  <p *ngIf="!password.getError('badPassword').hasNumber">Password must have at least one number.</p>
  <p *ngIf="!password.getError('badPassword').hasSpcialChar">Password must have at least one special character.</p>
</div>
<div *ngIf="password.hasError('minlength')">
  <p>Password must be at least 8 characters long.</p>
</div>
<button (click)="onClick()">Click to Submit</button>